@{
    Page.Title = "Hello World!";
    //Layout = "Your Layout Page goes here";
    var currentDateTime = DateTime.Now;
}

<div>
    <h1>Hello World Page</h1>
    <p>Hello World!</p>
    <p>Agora são : @currentDateTime</p>
</div>